<launch>
        
      

    <!-- start the kinect and laser 
     <include file="$(find robbie_bringup)/launch/freenect.launch"/>
-->
    <!-- launch head cam camers
     <include file="$(find robbie_bringup)/launch/uvc_cam.launch"/>
-->
    <!-- start the kinect and laser --> 
     <include file="$(find robbie_bringup)/launch/freenect2.launch"/>



    <!-- start the arduino base controller and urdf-->
     <include file="$(find robbie_bringup)/launch/robbie_base.launch"/>
    


    <!-- start the dynamixel servos -->
     <include file="$(find robbie_bringup)/launch/dynamixels.launch"/>

    
    <!-- start action servers   -->
     <include file="$(find robbie_bringup)/launch/action.launch"/>

    <!-- start imu
     <include file="$(find omni_bot)/launch/imu.launch" />
-->

   <!-- Start rosbridge and voice

     <include file="$(find robbie_bringup)/launch/1_stage.launch"/>
-->
  <!-- Start arm control-->

     <include file="$(find robbie_bringup)/launch/arm.launch"/>
 
 <!-- Start move base-->
     <include file="$(find robbie_bringup)/launch/move_base.launch"/>


<!-- start robbie's voice --> 
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" output="screen"/>



  <!-- Start moveit -->
     <include file="$(find robbie_bringup)/launch/robbie_moveit.launch"/>

 <!--robbie chat-->
  <node name="robbie_ai" pkg="robbie_ai" type="robbie_ai.py" />

<!-- Launch master control program -->
    <node pkg="robbie_behave" type="mcp1.py" name="master_control" output="screen" >
    </node>


   <!-- Run a static transform between /odom and /map -->
  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />



    
   <!-- Monitoring and Diagnostics 
 
   <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
   <rosparam command="load" file="$(find robbie_bringup)/params/diagnostics.yaml" />
   </node>

  -->


     
       
   
</launch>
